@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.img {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    padding: 10px 2%;
    overflow: hidden;
    position: relative;
}

body {
    background-image: url('../images/bg6.png');
    /* Path to your background image */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

nav {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background: rgb(255, 255, 255);*/
}

.positioned-image {
    position: relative;
    /* Moves the image 25% of the page width from the left */
    width: 7%;
    height: auto;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 35px;
    color: #040d41;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: #040d41;
}

.btn {
    text-decoration: none;
    color: #333;
    margin-right: 50px;
    padding: 14px 40px;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(45deg, #03021d, #2197a7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content {
    margin-top: 7%;
    margin-left: 5%;
    max-width: 600px;
}

.content h1 {
    font-size: 50px;
    color: #0d053d;
}

.content p {
    margin: 10px 0 30px;
    color: #0c5580;
    animation-delay: 0.5s;
    font-style: italic;
}

.content .btn {
    padding: 15px 80px;
    font-size: 17px;
    animation-delay: 1s;
}

nav ul li ul.dropdown li {
    display: block;
}

nav ul li ul.dropdown {
    width: 30%;
    /*background: rgb(255, 255, 255);*/
    position: absolute;
    z-index: 999;
    display: none;
    color: darkblue;
}

nav ul li:hover ul.dropdown {
    display: block;
}

.btn:hover {
    border-top-right-radius: 30px;
}

.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.search {
    width: 450px;
    float: left;
    padding: 20px;
}

.srch {
    width: 120px;
    height: 40px;
    background: transparent;
    border: 1px solid #040d41;
    margin-top: 15px;
    color: #333;
    font-size: 16px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.srch_btn {
    width: 30%;
    height: 40px;
    background-image: linear-gradient(45deg, #05043a, #25dbf3);
    border: 2px solid #040d41;
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.srch_btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.feature_img {
    width: 700px;
    position: absolute;
    bottom: 0;
    right: 1px;
}

.feature_img.animation {
    animation-delay: 2s;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.login_box {
    position: relative;
    width: 400px;
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: #0c0c0c;
    background-image: linear-gradient(45deg, #1189c0, #ffffff);
    ;
}

.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03021d;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.login-header span {
    font-size: 30px;
    color: #fff;
}

.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 0 #03021d;
}

.login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 0 #03021d;
}

.input_box {
    content: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field {
    width: 100%;
    height: 40px;
    font-size: 14px;
    background: white;
    color: #03021d;
    padding-inline: 20px 50px;
    border: 2px solid #03021d;
    border-radius: 30px;
    outline: none;
}

.input-login {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: .3s;
    background-image: linear-gradient(45deg, #060746, #1abe35);
}

.register {
    text-align: center;
}

.input_box span {
    font-size: 20px;
    color: #fff;
}

#email-error {
    color: red;
    transition: top 0.5s;
    font-size: 12px;
}

#email-label {
    transition: bottom 0.3s;
}

#phone-error {
    color: red;
    transition: top 0.5s;
    font-size: 12px;
}

#regi {
    font-size: 18px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.registration_box {
    position: relative;
    width: 630px;
    border-radius: 15px;
    padding: 3.5em 2.5em 1em 2.5em;
    color: #0c0c0c;
    background-image: linear-gradient(45deg, #1189c0, #ffffff);
    ;
}

.registration {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registrationhome {
    display: grid;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    justify-content: center;
}

.btnn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: black;
    background-color: #2e90f8bb;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btnn:hover {
    background-color: #0056b3;
}


.registration.input_box {
    width: calc(100% / 2- 20px);
}

.input {
    width: 250px;
    height: 32px;
    font-size: 12px;
    background: white;
    color: #03021d;
    padding-inline: 20px 10px;
    border: 1.5px solid #04023a;
    border-radius: 30px;
    outline: none;
}

.user_input {
    content: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.regi-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03021d;
    width: 210px;
    height: 60px;
    border-radius: 0 0 20px 20px;
}

.regi-header span {
    font-size: 30px;
    color: #fff;
}

.regi-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 0 #03021d;
}

.regi-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 0 #03021d;
}

.input_regi {
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: .3s;
    background-image: linear-gradient(45deg, #060746, #1abe35);
}

.input_regi span {
    color: #fff;
}

.radio-spacing {
    margin-right: 55px;
}

.input_save {
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 30px;
    transition: .3s;
    background-image: linear-gradient(45deg, #060746, #1abe35);
}

.input_save span {
    color: #fff;
}


.homebutton {
    width: 250px;
    height: 32px;
    font-size: 12px;
    background: white;
    color: #03021d;
    padding-inline: 20px 10px;
    border: 1.5px solid #04023a;
    border-radius: 30px;
    outline: none;
}


/* Calender */

.calenderButtn {
    width: 50px;
    height: 30px;
}

#calendarContainer {
    /* width: 500px; */
    width: 300px;
    /* height: 345px; */
    padding: 10px;
    border: 1px solid #ccc;
    /* font-size: 30px; */
}

#calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: center;
}

#calendarDates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

#appintmenttimetable {

    width: 300px;
}


.apptb {
    text-align: center;
}




/* Container for the tabs */
.tab-container {
    /* max-width: 600px; */
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(45deg, #1189c0, #ffffff);

}

/* Tab buttons styling */
.tab-buttons {
    display: flex;
    border-bottom: 2px solid #ddd;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(45deg, #1189c0, #ffffff);

}

.tab-buttons button {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    background: #eee;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    font-weight: bold;
    color: #000000;
    border-radius: 30px 30px 0px 0px;
    opacity: 0.5;
}

/* Active tab button */
.tab-buttons button.active {
    background: #fff;
    border-bottom: 2px solid #4285f4;
    color: #4285f4;
}

/* Tab content styling */
.tab-content {
    padding: 20px;
    display: none;
    /* Hide all tabs by default */
}

.tab-content.active {
    display: block;
    /* Show active tab */
}


table,
td,
th {
    border: 1px solid rgb(115, 115, 115);
}

table {
    border-collapse: collapse;

}

tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.5);
    ;

}

tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.25);
}

th {
    background-color: rgba(4, 115, 170, 0.658);
    ;
    color: rgb(0, 0, 0);
}

.description {
    width: 300px;
    padding: 7px;
}

.qty {
    width: 120px;
    padding: 7px;
}

.uprice {
    width: 130px;
    padding: 7px;
}

.upricetd {
    text-align: right;
    padding: 7px;
}


.gridcontainer {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 30%;
    /* padding: 10px; */
}

.pamaninputdisplay {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.summary_textarea {
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    height: 300px;
}

.edit_box {
    position: relative;
    width: 630px;
    border-radius: 15px;
    padding: 3.5em 2.5em 1em 2.5em;
    color: #0c0c0c;
    background-image: linear-gradient(45deg, #1189c0, #ffffff);
}

.edit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.column {
    float: left;
    width: 22%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .grid{
    border: none;
    width: 250px;
    height: 30px;
  }
  .input_pres{
    width: 180px;
    height: 40px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: .3s;
    background-image: linear-gradient(45deg, #060746, #1abe35);
}

.input_pres span {
    color: #fff;
}
.input_clear{
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: .3s;
    background-image: linear-gradient(45deg, #060746, #1abe35);
}

.input_clear span {
    color: #fff;
}
.pres{
    display: inline-block;
    margin-left: 220px;
}
.edit-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03021d;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.edit-header span {
    font-size: 16px;
    color: #fff;
    margin-left: 15px;
}

.edit-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 0 #03021d;
}

.edit-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 0 #03021d;
}

  